<div class="row">
  <div class="col-md-12">
    <h3>Domain</h3>
    <table class="table">
      <thead>
        <tr>
          <th style="width: 10%;">ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody id="domain-lists">
        <%= render partial: 'row', collection: @domains, as: :domain %>
      </tbody>
    </table>
  </div>
</div>
