<% if @competitor.new_record? %>
  errorWrapper = $('<div class="alert alert-danger"></div>');
  errorWrapper.html("<%= escape_javascript raw(@competitor.errors.full_messages.join('<br/>')) %>");
  $('#create-competitor').find('.error-wrapper').html(errorWrapper);
<% else %>
  $('#create-competitor').modal('hide');
  $('#competitor-lists').append('<%= escape_javascript render('domains/competitor_row', competitor: @competitor) %>');
  <% if @competitor.position == 2 %>
    $('#add-competitor-button').addClass('hide');
  <% end %>
<% end %>
