<tr>
  <td><%= best_in_place domain, :name, activator: "#edit-domain-#{domain.id}", skip_blur: true %></td>
  <td>
    <%= link_to 'javascript:void(0)', class: 'btn', id: "edit-domain-#{domain.id}" do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
  </td>
</tr>
