<div class="row">
  <div class="col-md-12">
    <h3>Domain</h3>
    <%= link_to 'Add Domain', new_domain_path, class: 'btn btn-primary' %>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th style="width: 15%;"></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'row', collection: @domains, as: :domain %>
      </tbody>
    </table>
  </div>
</div>
